{% extends 'base.html.twig' %}

{% block title %}Modification d'une annonce{% endblock %}

{% block body %}

<main class="container py-5">

    <h1>Modifier l'annonce</h1>

    {{ include('annonces/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_annonces_index') }}">Retour à la liste</a>

    {{ include('annonces/_delete_form.html.twig') }}

</main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
